<div class="ui-widget-header">
    <center><%= @title %></center>
</div>

<div id="con<%= @timestamp%>" style="height:100%;width:100%">
    <%= javascript_tag "drawChart(#{@dimentions[1]}, #{@dimentions[1]}, 'con#{@timestamp}', '#{@title}', '#{parameters["remote"]}', '#{parameters["path"]}', '#{parameters["rate"]}')" %>
</div>
