<div class="ui-widget-header">
    <center><%= @title %></center>
</div>

<div id="con<%= @timestamp%>" style="height:100%;width:100%">
    <%= javascript_tag "drawChart(#{@dimentions[1]}, #{@dimentions[1]}, #{rand(100)}, 'con#{@timestamp}', '#{@title}')" %>
</div>

